.Accordion {
    width: 100vw;
    height: 40rem;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $s-font-size;
}

.accordion-container {
    width: 90vw;
    height:30rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: stretch;
    align-items: stretch;
}

.accordion-tabs {
    display: flex;
    flex-direction: column;
}

.tabs {
    background-color: #ccc;
    color: $primary-color-dark;
    font-family: $book-font;
    text-align: left;
    padding: 1.5rem;
    padding-left: 4rem;  
    border: none;
    border-top:0.1rem solid $primary-color;
    &:focus {
        background-color: $primary-color-dark;
        color: $primary-color;
        font-family: $bold-font;
    }
}


.panels {
    background-color: $primary-color;
    color: $primary-color-dark;
    font-family: $book-font;
    padding: 5rem 10rem;
   
}

@media only screen and (max-width: 60rem) {
    .Accordion {
        height: auto;
        padding: 1rem 0;
    }
    .accordion-container {
        grid-template-columns:1fr;
        height: auto;
    }
    .panels {
        padding: 2rem;
        line-height: 2rem;
        text-align: justify;
    }

    .tabs {
        padding: 0.5rem;
        flex:1;
        text-align: center;
        height: auto;
    }
    .accordion-tabs {
        flex-direction: row;
    }
}