.Banners {
    width: 100vw;
    height: 120rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 40rem);
    grid-auto-rows:1fr;
    grid-template-areas: "img1 img1 copy1" "copy2 img2 img2" "img3 img3 copy3";
}

.banner-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 { 
    grid-area: img1; 
}
.copy1, .copy3  { 
    display: grid;
    align-items: center;
    grid-area: copy1; 
    background-color: $primary-color-dark; 
    color:$primary-color;
    padding-left: 5rem;
}
.copy2 { 
    display: grid;
    align-items: center;
    grid-area: copy2; 
    background-color: $primary-color; 
    color:$primary-color-dark;
    text-align: right;
    padding-right: 5rem;
    margin-left: auto;
    > div > h3{
        margin-left: auto;
    }
}
.img2 { 
    grid-area: img2; 
}
.img3 { 
    grid-area: img3; 
}
.copy3 { 
    grid-area: copy3; 
}

.banner-title {
    font-family: $bold-font;
    font-size: 7rem;
    line-height: 6rem;
    width: 13rem;
}
.banner-content {
    font-family: $book-font;
    font-size: $s-font-size;
    padding: 2rem 0;
    width: 22rem;
}

.banner-button {
    font-family: $book-font;
    font-size: $s-font-size;
    background-color: transparent;
    color: inherit;
    text-transform: uppercase;
    padding:1rem;
    cursor: pointer;
}

.banner-button:focus {
    outline: none;
}



@media only screen and (max-width: 60rem) {
    .Banners {
        width: 100vw;
        height: 120rem;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(6, 20rem);
        grid-template-areas: "img1" "copy1" "img2" "copy2" "img3" "copy3";
        background-color: $secondary-color;
    }

    .copy1, .copy2, .copy3 {
        background-color: rgba($color:$primary-color-dark, $alpha: 0.7);
        color:$primary-color;
        justify-content: center;
        padding:0;
        margin:0;
    }
    .BannerCopy {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .banner-title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 5rem;
    }

    .banner-content {
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
}

