.Cards {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 7rem 0;
    background-color: $secondary-color;
    font-family: $book-font;
    font-size: $s-font-size;
    color:$primary-color;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35rem;
    height: 35rem;
    margin: 1rem;
    background-color:$primary-color;

    @media screen and (max-width: 60rem) {
        width: 25rem;
        height: 25rem;  
    }

    &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    text-transform: uppercase;
    font-family: $bold-font;
    font-size: 1.6rem;
    }

    &-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    padding: 0 5rem;
    text-align:center;
    line-height: 2rem;
    color:$secondary-color-dark;

    @media screen and (max-width: 60rem) {
        margin-top: 1rem;
        line-height: 1.5rem;
        padding: 0 2rem;
    }
    }

    &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    background-color: $primary-color-dark;
    color:$primary-color;
    border: none;
    }
}