.Cookie {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    position: fixed;
    bottom:0;
    left:0;
    z-index:10;
    background-color: $primary-color;
    font-family: $bold-font;
    font-size: $xs-font-size;
    color:$primary-color-dark;
}
.cookie-button {
    background-color: $primary-color-dark;
    color: $primary-color;
    font-size: $xs-font-size;
    padding: 1rem 4rem;
    margin: 0 1rem;
    border: none;
}
.cookie-copy > a{
   text-decoration: none;
   color: $primary-color-dark;
}

@media only screen and (max-width: 60rem) {
    .cookie-button {
        margin-top: 1rem;
    }
}