.Footer {
    width: 100vw;
    height: 24rem;
    padding-top: 1rem;
    background-color: $primary-color-dark;
    color:$secondary-color-dark;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(3, 8rem);
    grid-auto-rows:1fr;
    grid-template-areas: "logo-footer" "menu-footer" "icons";
}
.logo-footer { 
    grid-area: logo-footer; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-footer{
    grid-area: menu-footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-footer > .nav-menu {
    margin-right: 0;
}
.icons {
    grid-area: icons;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.icon {
    margin:0.7rem;
}