.Form {
    width: 100vw;
    height: 40rem;
    background-color:$primary-color-dark;
    color:$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid $secondary-color-dark;
}

.contact-header {
    font-size: 7rem;
    line-height: 6rem;
    width: 30rem;
    font-family: $bold-font;
}

.contact-copy {
    font-size: 1.2rem;
    font-family: $book-font;
    line-height: 2rem;
}

.inputs {
    background-color: transparent;
    border: 0.1rem solid $primary-color;
    padding: 0.7rem;
    color:$primary-color;
}

.submit {
    color: $primary-color-dark;
    font-family: $medium-font;
    text-transform: uppercase;
    padding: 1rem;
    grid-area: submit; 
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "first-name first-name last-name last-name" "email email email email" "message message message message" "submit submit submit submit" ;
  }
  
  #first-name { grid-area: first-name; }
  #last-name { grid-area: last-name; }
  #email { grid-area: email; }
  #message { grid-area: message; }


@media only screen and (max-width: 60rem) {
    .Form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding-top: 2rem;
    }
    .contact-header {
        width: auto;
        margin-bottom: 1rem;
        font-size: 5rem;
    }
    .contact-copy {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submit {
        margin-bottom: 1rem;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(4, 7rem);
        grid-template-rows: 1fr 1fr 3fr 1fr;
    }
}