.Navbar {
    position: fixed;
    top:0;
    left:0;
    z-index:10;
}
.container {
    min-width: 100vw;
    min-height: 10rem;
    padding:0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $book-font; 
    color:$primary-color;
}
.nav-logo {
    margin-left:7rem;  
    cursor: pointer;
}

.nav-menu {
    display: flex;
    margin-right:7rem;
    font-size: $s-font-size;
    > li {
        margin: 0 3rem;
        cursor: pointer;
    }
}

.scrolled-nav {
    background-color: rgba($color: $primary-color-dark, $alpha: 0.9);
}

@media screen and (max-width: 60rem) {
    .container {
        padding:0;
        flex-direction: column;
        justify-content: center;
    }
    .nav-logo {
        margin:0;  
    }

    .nav-menu {
        margin:0;
        > li {
           margin: 1rem;
        }
    }

}