.Slider {
  width: 100vw;
  height: auto;
  background-color: $secondary-color;
  position: relative;
}

.slide {
    
    color: $primary-color;

    > img {
        background-size: cover;
        width: 100vw;
        height: auto;
    }

    &-text{
        position: absolute;
        top: 50%;
        margin-left: 15%;
        transform: translateY(-50%);
        text-align: left;
        width: 25rem;
        height: 25rem;
    }

    &-header{
        font-family: $bold-font;
        font-size: 7rem;
        line-height: 6rem;
    }

    &-copy{
        font-family: $book-font;
        font-size: $s-font-size;
        color:$secondary-color-dark;
        line-height: 2.4rem;
        margin-top: 3rem;
    }
}

.embla__dots {
    position: absolute;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 2rem;
  }
  
  .embla__dot {
    background-color:$secondary-color;
    cursor: pointer;
    padding: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0;
    display: flex;
    align-items: center;
  }
  
  .embla__dot:after {
    background-color:$secondary-color;
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    content: "";
  }
  
  .embla__dot.is-selected:after {
    background-color: $secondary-color-dark;
    opacity: 1;
  }

  .embla__button:focus, .embla__dot:focus {
    outline: none;
  }
  
  
  .embla__button {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .embla__button:not(:disabled) {
    cursor: pointer;
    fill: $secondary-color-dark;
  }
  
  .embla__button:disabled {
    fill: $secondary-color;
  }
  
  .embla__button__svg {
    width: 3rem;
    height: 3rem;
  }
  
  .embla__button--prev {
    left: 1rem;
  }
  
  .embla__button--next {
    right: 1rem;
  }

  @media screen and (max-width: 60rem) {
    .slide-text {
          width: 70%;
          height: 70%;
          top: 60%;
          margin: 15%;
          transform: translateY(-60%);
          text-align: center;
    }
    .slide-header {
      font-size: 3rem;
      line-height: 2rem;
   }
   .slide-copy {
    margin-top: 0;
    padding-top: 1rem;
    line-height: 1.5rem;
  }
 }
  