*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-size: $m-font-size;
    font-family: $medium-font;
    color:$secondary-color-dark;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

button {
    color: transparent;
    cursor: pointer;
}

button:focus {
    outline: none;
}

::selection {
    background-color: $primary-color-dark;
    color: $primary-color;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fa-spin 2s infinite linear;
}

.Error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 2.5rem;
}
.error-submit {
    margin-top: 2rem;
    width: 20rem;
    height: 5rem;
    color: $primary-color-dark;
    font-size: $m-font-size;
}

