/* Colors */

$primary-color: #fff;
$primary-color-dark: #000;
$secondary-color: #ebebeb;
$secondary-color-dark: rgb(131, 131, 131);

/* Font size */
$xs-font-size: 1rem;
$s-font-size: 1.4rem;
$m-font-size: 1.8rem;
$l-font-size: 2.2rem;
$xl-font-size: 2.6rem;

/* Font family*/ 
$book-font:'Gotham-Book',"Lato", sans-serif;
$medium-font:'Gotham-Medium',"Lato", sans-serif;
$bold-font:'Gotham-Bold',"Lato", sans-serif;

/* Animations */  
// .#{$fa-css-prefix}-spin {
//     animation: fa-spin 2s infinite linear;
//   }
  
  @keyframes fa-spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  