  @font-face {
    font-family: 'Gotham-Book';
    font-weight: 200;
    font-style: normal;
    src: url('./Gotham-Book.otf');
  }

  @font-face {
    font-family: 'Gotham-Medium';
    font-weight: 400;
    font-style: normal;
    src: url('./Gotham-Medium.otf');
  }
  
  @font-face {
    font-family: 'Gotham-Bold';
    font-weight: 700;
    font-style: bold;
    src: url('./Gotham-Bold.otf');
  }